$tmp-background-color: #808080;
$board-background-color: #fff;
$cell-background-color: #000;
$cell-border-color: #808080;
$cell-height: 10px;
$cell-width: 10px;


body {
  background: $tmp-background-color;
}

.board {
  background: $board-background-color;
}

.board-small {
  height: 30 * $cell-height;
  width: 50 * $cell-width;
}

.board-medium {
  height: 50 * $cell-height;
  width: 70 * $cell-width;
}

.board-large {
  height: 80 * $cell-height;
  width: 100 * $cell-width;
}

.cell {
  background: $cell-background-color;
  border: 1px solid $cell-border-color;
  box-sizing: border-box;
  display: inline-block;
  height: $cell-height;
  margin: 0;
  width: $cell-width;
}

